** { box-sizing: border-box; }

#main-container {
  display: grid;
}

#mapa {
  position: relative;
  grid-column: 1 / 2;
  width: 1130px;
  height: 890px;
 }

#foto-mapa img {
  width: 1130px;
  height: 890px;
}

#selectores { grid-column: 2 / 3; }

/* Nombre de las Ubicaciones */
.ubicacion {
  position: relative;
  color: white;
  font-weight: bold;
  font-size: 0.75em;
  text-shadow: 2px 2px 4px #000000;
}

/* Este código hace que todas las capas midan lo mismo
que la imagen y se puedan distribuir con el top, left y no
se descuadre con el zoom */
#Ubicaciones, #Camiones, #Mejoras {
  position: absolute;
  width: 1130px;
  height: 890px;
  top: 0;
  left: 0;
}

#parque-placentero {
  top: 320px;
  right: -470px;
}

#señorio-de-la-sal {
  top: 520px;
  right: -455px;
}

#setos-sagrados {
  top: 620px;
  right: -200px;
}

#alameda-afligida {
  top: 680px;
  right: -370px;
}

#arenas-ardientes {
  top: 390px;
  right: -230px;
}

#finca-frenesi {
  top: 390px;
  right:-748px;
}

#acantilados-arenosos {
  top: 70px;
  right: -640px;
}

#acumulaciones-airadas {
  top: 120px;
  right: -975px;
}

#muelles-mugatentos {
  top: 400px;
  right: -1040px;
}

#la-gruta {
  top: 550px;
  right: -1075px;
}

#ciudad-comercio {
  top: 620px;
  right: -970px;
}

#la-agencia {
  top: 400px;
  right: -585px;
}

#el-tiburon {
  top: -65px;
  right: -185px;
}

#la-plataforma {
  top: 745px;
  right: -170px;
}

#pantano-pegajoso {
  top: 665px;
  right: -350px;
}

#campo-caligine {
  top: 760px;
  right: -670px;
}

#albercas-adormecidas {
  top: 560px;
  right: -760px;
}

#el-yate {
  top: -165px;
  right: -1080px;
}


.camion, .mejora {
  position: relative;
  height: 16px;
  width: 16px;
  background-repeat: no-repeat;
  border-radius: 5%;
  z-index: 4;
  cursor: pointer;
}

.camion {
  background-color: yellow;
  background-image: url("images/truck.png");
}

.mejora {
  background-color: red;
  background-image: url("images/machine.png");
}

/* Pop up con la foto: */
.popup {
  position: relative;
  top: 16px;
  left: 16px;
  border: thin solid #dadada;
  border-radius: 10px;
  background-color: white;
  padding: 7px;
  display: none;
  width: 400px;

}

.popup img {
  z-index: 5;
  width: 400px;
  height: auto;
}

/* ubicación de los camiones */
#camion1 {
  top: 940px;
  left: 928px;
}

#camion2 {
  top: 885px;
  left: 465px;
}

#camion3 {
  top: 420px;
  left: 480px;
}

#camion4 {
  top: 170px;
  left: 710px;
}

#camion5 {
  top: 440px;
  left: 137px;
}

#camion6 {
  top: 185px;
  left: 887px;
}

#camion7 {
  top: 590px;
  left: 875px;
}

/* Las mejoras de Armas */
#mejoras1 {
  top: 295px;
  left: 545px;
}

#mejoras2 {
  top: 320px;
  left: 520px;
}

#mejoras3 {
  top: 415px;
  right:-655px;
}

#mejoras4 {
  top: 450px;
  right:-770px;
}

#mejoras5 {
  top: 260px;
  right:-825px;
}

#mejoras6 {
  top: 400px;
  right:-975px;
}

#mejoras7 {
  top: 65px;
  right:-720px;
}

#mejoras8 {
  top: -15px;
  right:-575px;
}

#mejoras9 {
  top: 90px;
  right:-940px;
}

#mejoras10 {
  top: 350px;
  right:-1065px;
}

#mejoras11 {
  top: 75px;
  right:-1015px;
}

#mejoras12 {
  top: -100px;
  right:-1095px;
}

#mejoras13 {
  top: 470px;
  right:-1085px;
}

#mejoras14 {
  top: 570px;
  right:-1065px;
}

#mejoras15 {
  top: 580px;
  right: -835px;
}

#mejoras16 {
  top: 655px;
  right: -730px;
}

#mejoras17 {
  top: 705px;
  right: -725px;
}

#mejoras18 {
  top: 795px;
  right: -625px;
}

#mejoras19 {
  top: 625px;
  right: -555px;
}

#mejoras20 {
  top: 630px;
  right: -220px;
}

#mejoras21 {
  top: 445px;
  right: -290px;
}

#mejoras22 {
  top: 315px;
  right: -230px;
}

#mejoras23 {
  top: 100px;
  right: -290px;
}

#mejoras24 {
  top: 200px;
  right: -140px;
}

#mejoras25 {
  top: -275px;
  right: -215px;
}

#mejoras26 {
  top: 710px;
  right: -955px;
}





/* Aquí el código del menú de selección */
/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
